@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 5px;
  position: relative;
}
.section-title h1::before {
  content: "";
  height: 2px;
  background-color: lightseagreen;
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease !important;
}
.section-title h1:hover::before {
  width: 100% !important;
}

/* Start Header */

header {
  top: 0;
  background: #000000;
  position: sticky;
  left: 0;
  right: 0;
  border-bottom: 1px solid #423940;
  padding: 0 15px;
  z-index: 10;
}

header .row {
  justify-content: space-between;
  align-items: center;
}

header .brand-name a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

header .brand-name a::before {
  content: "";
  height: 3px;
  background: lightseagreen;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 75px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 0;
  position: absolute;
  right: 0;
  bottom: -1px;
  transition: all 0.5s ease;
}

header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}
/* End Header section */

/* Start Home section */
.home {
  min-height: 100vh;
  background-image: url(./images/pexels-riccardo-bresciani-307008.jpg);
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  margin-top: -670px;
}

.home .block h1 {
  color: #000;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.home .block h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.home .block .cv-btn {
  padding-top: 20px;
}

.home .block .cv-btn a {
  border-radius: 10px;
  color: #000;
  border: 2px solid #000;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
  background: transparent;
}

.home .block .cv-btn a:hover {
  background: #ffffff;
  color: lightseagreen;
  border-color: lightseagreen;
}
/* End Home section */

/* Start About section */
.about {
  padding: 100px 15px;
  background-color: #ffffff;
}

.about .section-title {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.about .section-title p .small {
  display: block;
  font-size: 15px;
  color: #838383;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-content .img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.about-content .img img {
  width: 100%;
  display: block;
}
.about-content .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}
.about-content .text h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #000000;
  border-bottom: 2px solid #000000;
}
.about-content .text h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px;
  color: #000000;
}
.about-content .text h6 span {
  color: lightseagreen;
}
.about-content .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #838383;
  margin: 0 0 20px;
}
.about-content .text .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-content .text .info .list {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #2e1e1e;
  padding-bottom: 10px;
}
.about-content .text .info .list label {
  padding-right: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
}

.about-content .text .social-media {
  padding-top: 40px;
}
.about-content .text .social-media a {
  height: 30px;
  width: 30px;
  background-color: #0f3959;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid #0f3959;
  line-height: 28px;
  text-align: center;
  margin: 0 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-content .text .social-media a:hover {
  background-color: transparent;
}
.about-content .text .social-media a .fab {
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.about-content .text .social-media a:hover .fab {
  color: #0f3959;
}
/* End About section */

/* Start Message Text section */
.message-text {
  background-color: #0c0c17;
  padding: 40px 15px;
}

.message-text .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.message-text .text h2 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

.message-text .button {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: right;
}

.message-text .button a {
  border-radius: 5px;
  color: #ffffff;
  border: 2px solid #eeeeee;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: transparent;
}
.message-text .button a:hover {
  background-color: #ffffff;
  color: #000000;
}
/* End Message Text section */

/* Start Portfolio section */
.portfolio {
  background-color: #f5f8fd;
  padding: 100px 7px 0;
  min-height: 780px;
}

.portfolio .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.portfolio .filter-buttons ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.portfolio .filter-buttons ul li {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0;
}

.portfolio .filter-buttons ul li.active {
  color: lightseagreen;
  border-bottom: 2px solid lightseagreen;
}

.portfolio .portfolio-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}

.portfolio .portfolio-gallery .item .inner {
  position: relative;
  transition: box-shadow 0.3s;
}

.portfolio .portfolio-gallery .item img {
  width: 100%;
  display: block;
}

.portfolio .portfolio-gallery .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio .portfolio-gallery .item .overlay h4 {
  color: #ffffff;
}

.portfolio .portfolio-gallery .item:hover .overlay {
  opacity: 1;
}

.portfolio .portfolio-gallery .item:hover .inner {
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.5);
}

.portfolio .portfolio-gallery .item .overlay .fas {
  height: 50px;
  width: 50px;
  background-color: lightseagreen;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.portfolio .portfolio-gallery .item:hover .overlay .fas {
  -webkit-animation: galleryIcon 0.8s ease;
  animation: galleryIcon 0.8s ease;
}

@keyframes galleryText {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Start Lightbox */
.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: none;
}

.lightbox .close-lightbox {
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  color: lightseagreen;
  text-align: center;
  line-height: 35px;
  position: absolute;
  right: 20px;
  top: 90px;
  cursor: pointer;
  border-radius: 50px;
  z-index: 3;
}

.lightbox img {
  max-width: 70%;
  display: block;
}
/* End Lightbox */

/* End Portfolio section */

/* Start Services section */
.services {
  background-color: #f5f8fd;
  padding: 100px 15px 70px;
}

.services .service-contents {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .service-contents .box {
  background-color: #ffffff;
  padding: 30px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  text-align: center;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.services .service-contents .box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: all 0.5s ease;
}

.services .service-contents .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: all 0.5s ease;
}

.services .service-contents .box:hover::before,
.services .service-contents .box:hover::after {
  border-color: lightseagreen;
  width: 100%;
  height: 100%;
}

.services .service-contents .box .icons {
  height: 60px;
  width: 60px;
  color: lightseagreen;
  /* background-color: #ff5722; */
  margin: 15px auto 20px;
  border-radius: 50%;
  text-align: center;
}
.services .service-contents .box:hover .icons {
  color: #ffffff;
  background-color: lightseagreen;
  transition: all 0.3s ease;
}
.services .service-contents .box:hover .icons .fas {
  color: #ffffff;
  transition: all 0.3s ease;
}

.services .service-contents .box .icons .fas {
  font-size: 35px;
  color: lightseagreen;
  line-height: 60px;
}

.services .service-contents .box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #838383;
  margin: 10px 0;
}
/* End Services section */

/* Start Slides section */
.slidehome {
  padding: 100px 0 0;
}
.slider-container {
  height: calc(100vh - 198px);
  overflow: hidden;
  position: relative;
}

.slidehome .slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slides 1s ease;
}
.slidehome .slides.active {
  display: flex;
}
@keyframes slides {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slidehome .container {
  flex-grow: 1;
}

.slidehome .caption {
  width: 50%;
  position: absolute;
  bottom: 8%;
}

.slidehome .caption h1 {
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}

.slidehome .slides.active .caption h1 {
  opacity: 0;
  animation: caption 0.5s ease forwards;
  animation-delay: 1s;
}

.slidehome .caption p {
  font-size: 20px;
  margin: 15px 0 30px;
  color: #ffffff;
}

.slidehome .slides.active .caption p {
  opacity: 0;
  animation: caption 0.5s ease forwards;
  animation-delay: 1.2s;
}

@keyframes caption {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slidehome .controls .prev,
.slidehome .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #ffffff;
  background-color: #ff5722;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slidehome .controls .prev:hover,
.slidehome .controls .next:hover {
  background-color: #000000;
}

.slidehome .controls .prev {
  left: 0;
}
.slidehome .controls .next {
  right: 0;
}

@media (max-width: 767px) {
  .controls {
    display: none;
  }
}
/* End Slides section */

/* Start Contact section */
.contact {
  background-color: #f5f8fd;
  padding: 100px 15px 70px;
  align-items: center;
  min-height: 100vh;
}

.container-in {
  position: relative;
  min-width: 1100px;
  min-height: 590px;
  display: flex;
}

.contact-info {
  position: absolute;
  top: 40px;
  width: 340px;
  height: calc(100% - 80px);
  background-color: #0f3959;
  z-index: 1;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
}

.contact-info h2 {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 600;
}

.contact-info .info-in {
  position: relative;
  margin: 20px 0;
}

.contact-info .info-in li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  align-items: flex-start;
  cursor: pointer;
}

.contact-info .info-in li span:nth-child(1) {
  width: 30px;
  min-height: 30px;
}

.contact-info .info-in li span:nth-child(1) i {
  max-width: 100%;
  opacity: 0.5;
  filter: invert(1);
}

.contact-info .info-in li span:nth-child(2) {
  color: #ffffff;
  margin-left: 10px;
  font-weight: 500;
  opacity: 0.7;
}

.contact-info .info-in li span:nth-child(2) i,
.contact-info .info-in li span:nth-child(2) {
  opacity: 1;
}

.contact-info .social-media-links {
  position: absolute;
  display: flex;
  margin-top: 155px;
}

.contact-info .social-media-links li {
  list-style: none;
  margin-left: 22px;
}

.contact-info .social-media-links li a i {
  filter: invert(1);
  font-size: 25px;
  color: #eeeeee;
}

.contact-info .social-media-links li:hover a i {
  color: #000000;
}

.contact-form-in {
  position: absolute;
  padding: 70px 40px;
  background-color: #ffffff;
  margin-left: 120px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.6);
}

.contact-form-in h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.contact-form-in .in-box-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.contact-form-in .in-box-form .in-box-input {
  position: relative;
  margin: 0 0 35px 0;
}

.contact-form-in .in-box-form .in-box-input.row1 {
  width: 47%;
}

.contact-form-in .in-box-form .in-box-input.row2 {
  width: 100%;
}

.contact-form-in .in-box-form .in-box-input input,
.contact-form-in .in-box-form .in-box-input textarea {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #0f3959;
}

.contact-form-in .in-box-form .in-box-input textarea {
  min-height: 185px;
}

#contact-send {
  border-radius: 25px;
  color: #0f3959;
  border: 2px solid #0f3959;
  padding: 12px 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
  background: transparent;
}

#contact-send:hover {
  color: #ffffff;
  background-color: #0f3959;
  cursor: pointer;
}
/* End Contact section */

/* Start Footer */
footer {
  padding: 40px 15px;
  background-color: #000000;
}

footer .logo {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
}

footer .social-media {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
}

footer .social-media a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 0 12px;
  transition: all 0.5s ease;
}
/* End Footer */
